<div id='atrasOculto' class='hide' view="trabajos/gestion.html"></div>
<div class='contList'>
<button id='atrasFormTrabajos' class="itemNavigation" view="trabajos/index.html"> <i class="fa fa-arrow-left"></i> </button>
    <div class='headerList'>
        <i class='fa fa-edit'></i> Observaciones
    </div>
    <div class='contentList'>
        <form>
            <script type="text/javascript">
                areaTexto('Observaciones','observaciones','areaObservaciones');
            </script>
        </form>
    </div>
</div>