<div id='atrasOculto' class='hide' view="trabajos/gestion.html"></div>
<div id='nuevaCarga' class='hide' view="trabajos/form6.html"></div>
<div class='contList'>
<button id='atrasFormTrabajos' class="itemNavigation" view="trabajos/index.html"> <i class="fa fa-arrow-left"></i> </button>
    <div class='headerList'>
        <i class='fa fa-edit'></i> Imágenes
    </div>
    <div class='contentList'>
        <form>
            <button id="tomarFoto">Tomar foto</button>
        </form>
    </div>
</div>