<div id='atrasOculto' class='hide' view="trabajos/gestion.html"></div>
<div class='contList'>
<button id='atrasFormTrabajos' class="itemNavigation" view="trabajos/index.html"> <i class="fa fa-arrow-left"></i> </button>
    <div class='headerList'>
        <i class='fa fa-edit'></i> Gestión de trabajos
    </div>
    <div class='contentList'>
        <form>
            <script type="text/javascript">
                campoOculto('eliminado');
                campoOculto('tipo');
                campoOculto('equipoRetirado');
                campoOculto('revisado');
                campoOculto('enviado');
                campoDato('Nº Orden de trabajo','codigoInternoMostrar');
                campoOculto('codigoInterno');
                campoSelectAviso($('input#codigoInterno'),'Aviso nº','numeroAviso');
                campoRadio('','Finalizado','finalizado');
                campoSelectConsulta($('input[name=finalizado][value=SI]').parent().parent().parent(),'Cliente','codigoCliente','SELECT codigo, empresa AS texto FROM clientes WHERE eliminado="NO"');
                campoOculto('codigoDepartamentoOculto');
                campoOculto('codigoEquipoOculto');
                campoSelect('Centro','codigoDepartamento',[''],['']);
                campoSelectConsulta($('select#codigoDepartamento').parent().parent(),'Técnico','codigoTecnicoResponsable','SELECT personal.codigo, CONCAT(personal.nombre," ",apellidos) AS texto FROM personal INNER JOIN puestosTrabajo ON personal.codigoPuestoTrabajo=puestosTrabajo.codigo WHERE puestosTrabajo.funcion = "Tecnico" OR puestosTrabajo.funcion = "Técnico" OR personal.codigo=1',getLocal('codigoTecnico'));
                campoSelectConsulta($('select#codigoDepartamento').parent().parent(),'Equipo','codigoEquipo','SELECT codigo, CONCAT(modelo," - N/S: ",numSerie) AS texto FROM equipos','selectpicker span4 show-tick');
                campoSelect('Nº OSM','numeroOSM',['','1','2','3','4'],['','1','2','3','4'],'selectpicker span1 show-tick');
                campoSelect('Modelo OSM','modeloOSM',['','2521','2540','4021','4040'],['','2521','2540','4021','4040'],'selectpicker span2 show-tick');
                campoFecha('Fecha Inicio','fechaInicio');
                campoFecha('Fecha Fin','fechaFin');
                campoRangoHora('Desplazamiento de','horaInicioD','horaFinD');
                campoRangoHora('Mano de obra de','horaInicioM','horaFinM');
                campoRadio('','Retorno','retorno');
                campoNumero('Distancia (KMs)','km','input-mini');
            </script>
        </form>
    </div>
</div>