<div id='atrasOculto' class='hide' view="trabajos/form6.html"></div>
<div class='contList'>
<button id='atrasFormTrabajos' class="itemNavigation" view="trabajos/form6.html"> <i class="fa fa-arrow-left"></i> </button>
    <div class='headerList'>
        <i class='fa fa-edit'></i> Foto
    </div>
    <div class='contentList'>
        <img src='' id='imagenUnica' />
    </div>
</div>