<div id='atrasOculto' class='hide' view="trabajos/index.html"></div>
<div class='contList'>
<button class="itemNavigation" view="trabajos/index.html"> <i class="fa fa-arrow-left"></i> </button><br/><br/>
<button class="shortcut a3 itemNavigation" view="trabajos/form.html"><i class='fa fa-file-text-o'></i><br/>Orden de<br/>trabajo</button>
<button class='shortcut a3 itemNavigation' view="trabajos/form1.html"><i class='fa fa-users'></i><br/>Técnicos<br/>acompañantes</button>
<button class="shortcut a3 itemNavigation" view="trabajos/form2.html"><i class='fa fa-cogs'></i><br/>Operación y<br/>tipo</button>
<button class='shortcut a3 itemNavigation' view="trabajos/form3.html"><i class='fa fa-check-square-o'></i><br/>Tareas<br/>realizadas</button>
<button id='botonNiveles' class='shortcut a3 itemNavigation' view="trabajos/form4.html"><i class='fa fa-sliders'></i><br/>Datos y <br/>medidas</button>
<button class="shortcut a3 itemNavigation" view="trabajos/form5.html"><i class='fa fa-briefcase'></i><br/>Materiales<br/>&nbsp;</button>
<button class='shortcut a3 itemNavigation' view="trabajos/form6.html"><i class='fa fa-folder-open'></i><br/>Imágenes<br/>&nbsp;</button>
<button class="shortcut a3 itemNavigation" view="trabajos/form7.html"><i class='fa fa-eye'></i><br/>Observaciones<br/>&nbsp;</button>
<button class='shortcut a3 itemNavigation' view="trabajos/form8.html"><i class='fa fa-pencil-square-o'></i><br/>Firmas<br/>&nbsp;</button>
<button id='botonFinalizado' class="shortcut a3 hide" view="trabajos/index.html"><i class='fa fa-check'></i><br/>Finalizado<br/>&nbsp;</button>
<button id='botonRevisado' class="shortcut a3 hide" view="trabajos/index.html"><i class='fa fa-check'></i><br/>Revisado<br/>&nbsp;</button>
</div>