<div id='atrasOculto' class='hide' view="trabajos/gestion.html"></div>
<div class='contList'>
<button id='atrasFormTrabajos' class="itemNavigation" view="trabajos/index.html"> <i class="fa fa-arrow-left"></i> </button>
    <div class='headerList'>
        <i class='fa fa-edit'></i> Técnicos acompañantes
    </div>
    <div class='contentList'>
        <form>
            <div class='table-responsive'>
                <table class='table' id='tablaTecnicos'>
                    <thead>
                        <tr class='apartadoTablaFormularioEvaluacion'>
                            <th></th>
                            <th>Técnico</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <br>
            <center>
                <button type='button' class='btn btn-small btn-success' onclick='insertaFila("tablaTecnicos");'><i class='fa fa-plus'></i></button> 
            </center>
            <script type="text/javascript">
                
            </script>
        </form>
    </div>
</div>