<div id='atrasOculto' class='hide' view="trabajos/gestion.html"></div>
<div class='contList'>
<button id='atrasFormTrabajos' class="itemNavigation" view="trabajos/index.html"> <i class="fa fa-arrow-left"></i> </button>
    <div class='headerList'>
        <i class='fa fa-edit'></i> Operación y tipo
    </div>
    <div class='contentList' style='display:none;'>
        <form>
            <script type="text/javascript">
                campoCheck('','Operación','operacion',['Nueva instalación','Reparación','Revisión','Cambio Consumible','Otra'],['NUEVA','REPARACION','REVISION','CAMBIO','OTRA'],'SI');
                campoOculto('operacion');
                divOtraOperacion('Otra','otraOperacion');
                $('form').append('<div id="divReparacion"><div id="divUno"></div><div id="divDos"></div><div id="divTres"></div></div>');
                campoSelectConsulta($('#divReparacion #divUno'),'Tipo','codigoTipo','SELECT codigo, nombre AS texto FROM tipos ORDER BY nombre');
                campoSelectConsulta($('#divReparacion #divDos'),'Daño percibido','codigoDanio','SELECT codigo, nombre AS texto FROM danios ORDER BY nombre');
                campoRadio($('#divReparacion #divTres'),'Equipo retirado','equipoRetirado','NO',['Si','No'],['SI','NO'],'SI');
                $('input[name=equipoRetirado]').parent().parent().after('<div id="divNuevoEquipo"><div></div></div>');
                campoSelectConsulta($('#divNuevoEquipo div'),'Nuevo equipo','codigoEquipoNuevo','SELECT codigo, CONCAT(modelo," - N/S: ",numSerie) AS texto FROM equipos');
                campoRadio('','Tipo','tipo','MANTENIMIENTO',['Cont. Mantenimiento','Facturable','Garantía'],['MANTENIMIENTO','FACTURABLE','GARANTIA'],'SI');
            </script>
        </form>
    </div>
</div>