<div id='atrasOculto' class='hide' view="trabajos/gestion.html"></div>
<div class='contList'>
<button id='atrasFormTrabajos' class="itemNavigation" view="trabajos/index.html"> <i class="fa fa-arrow-left"></i> </button>
    <div class='headerList'>
        <i class='fa fa-edit'></i> Niveles y presiones
    </div>
    <div class='contentList'>
        <form>
            <table>
                <tbody>
                </tbody>
            </table>
            <br/>
            <script type="text/javascript">
                campoMedidas('CONDUCTIVIDAD EN RED:','dato1',1);
                campoMedidas('DUREZA EN RED:','dato2',1);
                campoMedidas('CLORO EN RED:','dato3',1);
                campoMedidas('PRESIÓN EN RED:','dato4',1);
                campoMedidas('DUREZA EN SALIDA DESCALCIFICADOR:','dato5');
                campoMedidas('CLORO EN SALIDA DECLORADOR:','dato6');
                campoMedidas('PRESIÓN BOMBA ENTRADA MOD.1:','dato7');
                campoMedidas('PRESIÓN BOMBA SALIDA MOD.1:','dato8');
                campoMedidas('CAUDALÍMETRO SALIDA MOD.1:','dato9');
                campoMedidas('CONDUCT. OSMOSIS 1 MOD.1:','dato10');
                campoMedidas('PRODUCCIÓN OSMOSIS 1 MOD.1:','dato11');
                campoMedidas('CONDUCT. OSMOSIS 2 MOD.1:','dato12');
                campoMedidas('PRODUCCIÓN OSMOSIS 2 MOD.1:','dato13');
                campoMedidas('MEZCLA 1Y2 MOD1:','dato21',1);
                campoMedidas('PRODUCCIÓN 1Y2 MOD1:','dato22',1);
                campoMedidas('PRESIÓN BOMBA ENTRADA MOD.2:','dato14');
                campoMedidas('PRESIÓN BOMBA SALIDA MOD.2:','dato15');
                campoMedidas('CAUDALÍMETRO SALIDA MOD.2:','dato16');
                campoMedidas('CONDUCT. OSMOSIS 1 MOD.2:','dato17');
                campoMedidas('PRODUCCIÓN OSMOSIS 1 MOD.2:','dato18');
                campoMedidas('CONDUCT. OSMOSIS 2 MOD.2:','dato19');
                campoMedidas('PRODUCCIÓN OSMOSIS 2 MOD.2:','dato20');
                campoMedidas('MEZCLA 1Y2 MOD2:','dato23',1);
                campoMedidas('PRODUCCIÓN 1Y2 MOD2:','dato24',1);
                areaTexto('Comentarios','comentarios','areaObservaciones');
            </script>
        </form>
    </div>
</div>