<div id='atrasOculto' class='hide' view="trabajos/gestion.html"></div>
<div class='contList'>
<button id='atrasFormTrabajos' class="itemNavigation" view="trabajos/index.html"> <i class="fa fa-arrow-left"></i> </button>
    <div class='headerList'>
        <i class='fa fa-edit'></i> Firmas
    </div>
    <div class='contentList'>
        <form>
            <script type="text/javascript">
                campoTexto('Representante','representanteCliente');
                campoTexto('Email','emailCliente');
                campoFirma('Firma','firmaCliente');
                campoTexto('Técnico','tecnicoMantenimiento');
                campoTexto('Email','emailMantenimiento');
                campoFirma('Firma','firmaTecnicoMantenimiento');
            </script>
        </form>
    </div>
</div>