<div id='atrasOculto' class='hide' view="index.html"></div>
<div class='contList'>
<button class="itemNavigation" view="trabajos/form.html"> Añadir </button>
	<div class='headerList'>
		<i class='fa fa-list'></i> Trabajos registrados
	</div>
	<div class='contentList'>
		<table class="table table-striped table-bordered datatable">
    		<thead>
        		<tr>
                    <th>OT Nº</th>
                    <th>Cliente</th>
                    <th class='tdHide'>Departamento</th>
                    <th>Fecha</th>
        		</tr>
    		</thead>
    		<tbody>
    		</tbody>
		</table>
	</div>
</div>