<div id='atrasOculto' class='hide' view="avisos/index.html"></div>
<div class='contList'>
<button class="itemNavigation" view="avisos/index.html"> <i class="fa fa-arrow-left"></i> </button>
    <div class='headerList'>
        <i class='fa fa-edit'></i> Gestión de avisos
    </div>
    <div class='contentList'>
        <form>
            <script type="text/javascript">
                campoTexto('Código Interno','codigoInterno','input-small','readonly');
                campoFecha('Fecha','fecha');
                campoTexto('Hora','hora','input-small');
                campoSelectConsulta($('input#hora').parent().parent(),'Cliente','codigoCliente','SELECT codigo, empresa AS texto FROM clientes WHERE eliminado="NO"');
                campoOculto('codigoDepartamentoOculto');
                campoOculto('eliminado');
                campoSelect('Departamento','codigoDepartamento',[''],['']);
                areaTexto('Indicaciones del Cliente','indicaciones');
                areaTexto('Posible diagnóstico','diagnostico');
                areaTexto('Estrategia a Seguir','estrategia');
            </script>
        </form>
    </div>
</div>