<div id='atrasOculto' class='hide' view="index.html"></div>
<div class='contList'>
<button id="aniadirAviso" class="itemNavigation" view="avisos/form.html"> Añadir </button>
	<div class='headerList'>
		<i class='fa fa-list'></i> Avisos registrados
	</div>
	<div class='contentList'>
		<table class="table table-striped table-bordered datatable">
    		<thead>
                <tr>
                    <th>Nº de aviso</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Crear trabajo</th>
        		</tr>
    		</thead>
    		<tbody>
    		</tbody>
		</table>
	</div>
</div>