/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html{
    height:100%;
    background-color: #428bca;
    background-image: -ms-radial-gradient(center top, circle farthest-side, #428bca 0%, #075598 100%);
    background-image: -moz-radial-gradient(center top, circle farthest-side, #428bca 0%, #075598 100%);
    background-image: -o-radial-gradient(center top, circle farthest-side, #428bca 0%, #075598 100%);
    background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #428bca), color-stop(1, #075598));
    background-image: -webkit-radial-gradient(center top, circle farthest-side, #428bca 0%, #075598 100%);
    background-image: radial-gradient(circle farthest-side at center top, #428bca 0%, #075598 100%);
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app2 {
    background:#FFF;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

header#topbar{
    width:100%;
    background:#428bca;
    position:relative;
    display: grid;
    grid-template-columns: 70% 30%;
}

header#topbar #menu{
    padding:10px;
}

header#topbar #menu i{
    color:#FFF;
    font-size:20px;
}

header#topbar #logo{
    text-align:right;
    padding:10px;
}

header#topbar #logo img{
    width:100%;
    max-width: 100px;
}

section#content{
    width:90%;
    height:100%;
    margin:20px auto 0px auto;
}

table{
    width:100%;
    border:1px solid #000;
    border-collapse:collapse;
}

table th,
table td{
    border:1px solid #000;
    padding:3px;
}

.itemNavigation,#botonMenu{
    cursor:pointer;
}

.hide{
    display:none;
}

button{
    border-radius:20px;
    padding:10px;
    margin:10px;
}

input{
    border-radius:3px;
    padding:11px 15px 10px 15px;
    box-shadow:none;
    margin:5px 0px;
    color:#8e8d8d;
    border:1px solid #cccccc;
}

form#login{
    width:80%;
    margin:100px auto 0px auto;
    background: transparent;
    text-align:center;
}

form#login input{
    width:80%;
}

button{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:#FFF;
    background-color:#428bca;
    border-color:#075598;
    padding:6px 12px;
    font-weight: 400;
    text-align: center;
    cursor:pointer;
    border-radius:4px;
}

.msjError{
    background:#8a2311;
    color:#FFF;
    width:60%;
    margin:10px auto 0px auto;
    text-align: center;
    padding:15px;
    border-radius:20px;
    font-weight: bold;
}


.shortcut{
    width: 45%;
    display: inline-block;
    padding: 12px 0;
    margin: 0 .9% 1em;
    vertical-align: top;
    text-decoration: none;
    background: #F9F9F9;
    border-radius: 5px;
    color:#000;
    font-size:10px;
}

.shortcut i{
    font-size:16px;
}

.shortcut.a3{
    width:30%;
}

.contList{
    margin-top:10px;
    
}

.contList .headerList{
    background: #428bca;
    color:#FFF;
    padding:10px;
    font-weight: bold;
    margin-top:10px;
}

.contList .contentList{
    padding:5px;
    position:relative;
}

.dataTables_length{
    display:none;
}

.dataTables_wrapper .row-fluid > .span6{
    width:100%;
}

.dataTables_wrapper .row-fluid > .span6 input[type=search]{
    margin-left:10px;
}

.control-label{
    float: left;
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
}

.controls input{
    margin-bottom: 0px;
}

.datepicker.dropdown-menu{
    left:129px !important;
}

.areaTexto{
    height:100px;
}

.ulMenu{
    list-style-type: none;
    margin-left:0px;
    display:none;
}

.buttonLi{
    background: transparent;
    text-decoration: none;
    color:#FFF;
    border:0px;
    padding-left:0px;
    font-size:12px;
}

.buttonLi i{
    font-size: 14px !important;
    margin-right: 5px;
}

.datoSinInput{
    padding-top:6px;
}

.areaObservaciones{
    width:100%;
    height:300px;
}

.pad{
    border:1px solid #CCC;
    width:100%;
}

.contenedorImagen{
    width:100%;
    margin-bottom: 5px;
}

.contenedorImagen img{
    width:80%;
    margin:0px auto;
}

.contenedorImagen i,
.eliminaFila{
    margin-left:10px;
    font-size:40px !important;
    cursor:pointer;
}

.controls.nowrap{
    margin-left:171px;
}

.selectRight div.dropdown-menu{
    right:0;
    left:0;
    top:38%;
}

.bootstrap-select.selectRight{
    position:static;
}
.selectRight div.dropdown-menu ul{
    width:100%;
}

input.datepicker[readonly]{
    background:#FFF;
}

#imagenUnica{
    width:100%;
}

@media screen and (max-width:400px) {
    .tdHide{
        display:none;
    }
}
